.homeImg {
  margin: -5px 0px 0px 0px;
  height: 35px;
  width: 35px;
}
.myordersImg {
  margin: -5px 0px 0px 0px;

  height: 35px;
  width: 35px;
}
.cartImg {
  margin: -5px 0px 0px 0px;

  height: 35px;
  width: 35px;
}
.LogoutImg {
  margin: -5px 0px 0px 0px;

  height: 35px;
  width: 35px;
}
.cartno {
  position: absolute;
  margin: -39px 0px 0px 25px;
  height: 18px;
  width: 17px;
  background-color: red;
  border-radius: 50%;
  font-size: smaller;
  text-align: center;
  /* padding: 1px; */
}
